 <!-- Smart Phones -->
 <li class="nav-item hs-has-mega-menu u-header__nav-item"
 data-event="hover"
 data-animation-in="slideInUp"
 data-animation-out="fadeOut">
 <a id="smartphonesMegaMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false">Smart Phones</a>

 <!-- Smart Phones - Mega Menu -->
 <div class="hs-mega-menu w-100 u-header__sub-menu" aria-labelledby="smartphonesMegaMenu">
     <div class="row u-header__mega-menu-wrapper">
         <div class="col-md-8">
             <div class="row">
                 <div class="col-md-3">
                     <span class="u-header__sub-menu-title">Accessories</span>
                     <ul class="u-header__sub-menu-nav-group mb-3">
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Headsets</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Cables &amp; Chargers</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Electronic Accessories</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Selfie Sticks</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Internal Batteries</a></li>
                     </ul>
                     <span class="u-header__sub-menu-title">Cases &amp; Covers</span>
                     <ul class="u-header__sub-menu-nav-group">
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">For iPhone X<br> </a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">For Samsung S9</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Below AED 59</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">For Xiaomi</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">For iPhone 7</a></li>
                     </ul>
                 </div>
                 <div class="col-md-3">
                     <span class="u-header__sub-menu-title">Tablets</span>
                     <ul class="u-header__sub-menu-nav-group mb-3">
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">iPads</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Samsung</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Microsoft Surface</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Lenovo</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Innjoo</a></li>
                     </ul>
                     <ul class="u-header__sub-menu-nav-group">
                         <span class="u-header__sub-menu-title">Shop By Price</span>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">For iPhone X<br> </a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">For Samsung S9</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Below AED 59</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">For Xiaomi</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">For iPhone 7</a></li>
                     </ul>
                 </div>
                 <div class="col-md-3">
                     <span class="u-header__sub-menu-title">Mobiles</span>
                     <ul class="u-header__sub-menu-nav-group">
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Samsung</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Lenovo</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Mi</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Motorola</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Oppo</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Panasonic<br> </a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">HTC</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Blackberry</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">LG</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Micromax</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Nokia</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Huawei</a></li>
                     </ul>
                 </div>
                 <div class="col-md-3">
                     <span class="u-header__sub-menu-title">#Trending</span>
                     <ul class="u-header__sub-menu-nav-group">
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Oppo</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Panasonic</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Samsung</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Lenovo</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Mi</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Motorola</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Nokia</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Huawei</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">HTC</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Blackberry</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">LG</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Micromax</a></li>
                     </ul>
                 </div>
             </div>
         </div>
         <div class="col-md-4">
             <a href="#" class="d-block">
                 <img class="img-fluid" src="/img/1024X1024/img1.jpg" alt="Image Description">
             </a>
         </div>
     </div>
 </div>
 <!-- End Smart Phones - Mega Menu -->
</li>
<!-- End Blog -->

<!-- Laptops & Desktops -->
<li class="nav-item hs-has-mega-menu u-header__nav-item"
 data-event="hover"
 data-animation-in="slideInUp"
 data-animation-out="fadeOut">
 <a id="laptopsdesktopsMegaMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false">Laptops & Desktops</a>

 <!-- Laptops & Desktops - Mega Menu -->
 <div class="hs-mega-menu w-100 u-header__sub-menu" aria-labelledby="laptopsdesktopsMegaMenu">
     <div class="row u-header__mega-menu-wrapper">
         <div class="col-md-8">
             <div class="row">
                 <div class="col-md-3">
                     <span class="u-header__sub-menu-title">Laptops</span>
                     <ul class="u-header__sub-menu-nav-group mb-3">
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Thin and Light Laptops</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">2-in-1 Laptops</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Gaming Laptops</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Budget Laptops</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Business Laptops</a></li>
                     </ul>
                     <span class="u-header__sub-menu-title">Shop By Brand</span>
                     <ul class="u-header__sub-menu-nav-group">
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Apple<br> </a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">HP</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Dell</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Lenovo</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Acer</a></li>
                     </ul>
                 </div>
                 <div class="col-md-3">
                     <span class="u-header__sub-menu-title">Tablets</span>
                     <ul class="u-header__sub-menu-nav-group mb-3">
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Lenovo</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Apple</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Samsung</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Micromax</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">iBall</a></li>
                     </ul>
                     <span class="u-header__sub-menu-title">PC Accessories</span>
                     <ul class="u-header__sub-menu-nav-group">
                         <li class="nav-title">PC Accessories</li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Keyboards<br> </a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Mice</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Laptop Bags</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">PC Speakers</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Batteries</a></li>
                     </ul>
                 </div>
                 <div class="col-md-3">
                     <span class="u-header__sub-menu-title">Processors</span>
                     <ul class="u-header__sub-menu-nav-group mb-3">
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Intel</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">AMD</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Qualcomm</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">IBM</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Motorola</a></li>
                     </ul>
                     <span class="u-header__sub-menu-title">Shop By Price</span>
                     <ul class="u-header__sub-menu-nav-group">
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Below Rs. 500$</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">500$ - 699$</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">700$ - 799$</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">800$ - 899$</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">900$ and Above</a></li>
                     </ul>
                 </div>
                 <div class="col-md-3">
                     <span class="u-header__sub-menu-title">Best Processors</span>
                     <ul class="u-header__sub-menu-nav-group">
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Intel Core i9-7980XE<br> </a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">AMD Ryzen Threadripper 1950X</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">AMD Ryzen 5 1600X</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Intel Core i7-8700K</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">AMD Ryzen 7 1800X</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Intel Core i5-7600K</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">AMD Ryzen 3 1300X</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Intel Core i7-7820X</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Intel Core i5-7600K</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">AMD Ryzen 4 1100X</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Intel Core i3-7280K</a></li>
                     </ul>
                 </div>
             </div>
         </div>
         <div class="col-md-4">
             <a href="#" class="d-block">
                 <img class="img-fluid" src="/img/1024X1024/img2.jpg" alt="Image Description">
             </a>
         </div>
     </div>
 </div>
 <!-- End Laptops & Desktops - Mega Menu -->
</li>
<!-- End Laptops & Desktops -->

<!-- Gadgets -->
<li class="nav-item hs-has-mega-menu u-header__nav-item"
 data-event="hover"
 data-animation-in="slideInUp"
 data-animation-out="fadeOut">
 <a id="GadgetsMegaMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false">Gadgets</a>

 <!-- Gadgets - Mega Menu -->
 <div class="hs-mega-menu w-100 u-header__sub-menu" aria-labelledby="GadgetsMegaMenu">
     <div class="row u-header__mega-menu-wrapper">
         <div class="col-md-4">
             <div class="row">
                 <div class="col-md-6 mb-3">
                     <a href="#" class="d-block">
                         <img class="img-fluid" src="/img/300X275/img3.jpg" alt="Image Description">
                     </a>
                 </div>
                 <div class="col-md-6 mb-3">
                     <span class="u-header__sub-menu-title">Computers &amp; Accessories</span>
                     <ul class="u-header__sub-menu-nav-group">
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Laptops, Desktops &amp; Monitors</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Networking &amp; Internet Devices</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Computer Accessories</a></li>
                     </ul>
                 </div>
                 <div class="col-md-6">
                     <a href="#" class="d-block">
                         <img class="img-fluid" src="/img/300X275/img4.jpg" alt="Image Description">
                     </a>
                 </div>
                 <div class="col-md-6">
                     <span class="u-header__sub-menu-title">Peripherals</span>
                     <ul class="u-header__sub-menu-nav-group">
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Hard Drives</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Pen Drives & Memory Cards</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Printers & Ink</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Mouse</a></li>
                     </ul>
                 </div>
             </div>
         </div>
         <div class="col-md-4">
             <div class="row">
                 <div class="col-md-6 mb-3">
                     <a href="#" class="d-block">
                         <img class="img-fluid" src="/img/300X275/img5.jpg" alt="Image Description">
                     </a>
                 </div>
                 <div class="col-md-6 mb-3">
                     <span class="u-header__sub-menu-title">Cameras</span>
                     <ul class="u-header__sub-menu-nav-group">
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">DSLR</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Lenses</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Security &amp; Surveillance</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Binoculars &amp; Telescopes</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Camcorders</a></li>
                     </ul>
                 </div>
                 <div class="col-md-6">
                     <a href="#" class="d-block">
                         <img class="img-fluid" src="/img/300X275/img6.jpg" alt="Image Description">
                     </a>
                 </div>
                 <div class="col-md-6">
                     <span class="u-header__sub-menu-title">Watches</span>
                     <ul class="u-header__sub-menu-nav-group">
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Men's Watches</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Women's Watches</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Premium Watches</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Kids Watches</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Deals on Watches</a></li>
                     </ul>
                 </div>
             </div>
         </div>
         <div class="col-md-4">
             <div class="row">
                 <div class="col-md-6 mb-3">
                     <a href="#" class="d-block">
                         <img class="img-fluid" src="/img/300X275/img7.jpg" alt="Image Description">
                     </a>
                 </div>
                 <div class="col-md-6 mb-3">
                     <span class="u-header__sub-menu-title">Accessories</span>
                     <ul class="u-header__sub-menu-nav-group">
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Mouses</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Keyboards</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Hardrives</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Headphones</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Speakers</a></li>
                     </ul>
                 </div>
                 <div class="col-md-6">
                     <a href="#" class="d-block">
                         <img class="img-fluid" src="/img/300X275/img8.jpg" alt="Image Description">
                     </a>
                 </div>
                 <div class="col-md-6">
                     <span class="u-header__sub-menu-title">Gadgets</span>
                     <ul class="u-header__sub-menu-nav-group">
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Fire TV Stick</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Google Chromecast</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Set Top</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Accessories</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Deals of the Day</a></li>
                     </ul>
                 </div>
             </div>
         </div>
     </div>
 </div>
 <!-- End Gadgets - Mega Menu -->
</li>
<!-- End Gadgets -->

<!-- GPS & Car -->
<li class="nav-item hs-has-mega-menu u-header__nav-item"
 data-event="hover"
 data-animation-in="slideInUp"
 data-animation-out="fadeOut">
 <a id="GPSCarMegaMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false">GPS & Car</a>

 <!-- GPS & Car - Mega Menu -->
 <div class="hs-mega-menu w-100 u-header__sub-menu" aria-labelledby="GPSCarMegaMenu" style="min-width: 330px;">
     <div class="row u-header__mega-menu-wrapper">
         <div class="col-md-8">
             <div class="row">
                 <div class="col-md-3">
                     <span class="u-header__sub-menu-title">Car Audios</span>
                     <ul class="u-header__sub-menu-nav-group">
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Music Systems</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Video Systems</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Speakers</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Car Monitors</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Car Parts</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Monitoring</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Network Jammers</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Car Accessories</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Car Electronics</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">All Audio Products</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Accessories</a></li>
                     </ul>
                 </div>
                 <div class="col-md-3">
                     <span class="u-header__sub-menu-title">GPS & Accessories</span>
                     <ul class="u-header__sub-menu-nav-group">
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Gps Tracking Devices</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">GPS Networking Devices</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">GPS Tracking Sensors</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">GPS Monitoring</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">GPS Jammers</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">GPS Tracking Sensors</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">GPS Monitoring</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">GPS Anti-Tracker</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">GPS Accessories</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">GPS Devices</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">GPS Trackers</a></li>
                     </ul>
                 </div>
                 <div class="col-md-3">
                     <span class="u-header__sub-menu-title">Accessories &amp; Parts</span>
                     <ul class="u-header__sub-menu-nav-group mb-3">
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Car Accessories</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Car Electronics</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Car Parts</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Car &amp; Bike Care</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">All Car Products</a></li>
                     </ul>
                     <span class="u-header__sub-menu-title">Shop By Price</span>
                     <ul class="u-header__sub-menu-nav-group">
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Below Rs. 100$</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">101$ - 199$</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">200$ - 299$</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">300$ - 399$</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">400$ and Above</a></li>
                     </ul>
                 </div>
                 <div class="col-md-3">
                     <span class="u-header__sub-menu-title">GPS & Accessories</span>
                     <ul class="u-header__sub-menu-nav-group">
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Gps Tracking Devices</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">GPS Networking Devices</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">GPS Tracking Sensors</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">GPS Monitoring</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">GPS Jammers</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">GPS Tracking Sensors</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">GPS Monitoring</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">GPS Anti-Tracker</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">GPS Accessories</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">GPS Devices</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">GPS Trackers</a></li>
                     </ul>
                 </div>
             </div>
         </div>
         <div class="col-md-4">
             <a href="#" class="d-block">
                 <img class="img-fluid" src="/img/1024X1024/img3.jpg" alt="Image Description">
             </a>
         </div>
     </div>
 </div>
 <!-- End GPS & Car - Mega Menu -->
</li>
<!-- End GPS & Car -->

<!-- Cameras & Accessories -->
<li class="nav-item hs-has-mega-menu u-header__nav-item"
 data-event="hover"
 data-animation-in="slideInUp"
 data-animation-out="fadeOut">
 <a id="CamerasAccessoriesMegaMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false">Cameras & Accessories</a>

 <!-- Cameras & Accessories - Mega Menu -->
 <div class="hs-mega-menu w-100 u-header__sub-menu" aria-labelledby="CamerasAccessoriesMegaMenu">
     <div class="row u-header__mega-menu-wrapper">
         <div class="col-md-8">
             <div class="row">
                 <div class="col-md-3">
                     <span class="u-header__sub-menu-title">Cameras</span>
                     <ul class="u-header__sub-menu-nav-group mb-3">
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">DSLR Cameras</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Digital Cameras</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Security &amp; Surveillance</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Camcorders</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Consoles</a></li>
                     </ul>
                     <span class="u-header__sub-menu-title">Shop By Price</span>
                     <ul class="u-header__sub-menu-nav-group">
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Below Rs. 100$</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">101$ - 199$</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">200$ - 299$</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">300$ - 399$</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">400$ and Above</a></li>
                     </ul>
                 </div>
                 <div class="col-md-3">
                     <span class="u-header__sub-menu-title">Shop By Focal Length</span>
                     <ul class="u-header__sub-menu-nav-group mb-3">
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">8mm - 24mm</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">24mm - 35mm</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">35mm - 85mm</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">85mm - 135mm</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">135mm+</a></li>
                     </ul>
                     <span class="u-header__sub-menu-title">#Trending</span>
                     <ul class="u-header__sub-menu-nav-group">
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Sony</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Nikon</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Canon</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Sanyo</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Samsung</a></li>
                     </ul>
                 </div>
                 <div class="col-md-3">
                     <span class="u-header__sub-menu-title">Accessories</span>
                     <ul class="u-header__sub-menu-nav-group mb-3">
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Headphones</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Mouses</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Hardrives</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Headphones</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Speakers</a></li>
                     </ul>
                     <span class="u-header__sub-menu-title">Add-ons</span>
                     <ul class="u-header__sub-menu-nav-group">
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Data Cables</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Keypads</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Earphones</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Lenses</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Camera Accessories</a></li>
                     </ul>
                 </div>
                 <div class="col-md-3">
                     <span class="u-header__sub-menu-title">Shop By Brands</span>
                     <ul class="u-header__sub-menu-nav-group">
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Canon</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Nikon</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Pentax</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Sony</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Apple</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Leica</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Samsung</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Panasonic</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">LG</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Oppo</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Olympus</a></li>
                         <li><a href="#" class="nav-link u-header__sub-menu-nav-link">Sanyo</a></li>
                     </ul>
                 </div>
             </div>
         </div>
         <div class="col-md-4">
             <a href="#" class="d-block">
                 <img class="img-fluid" src="/img/1024X1024/img4.png" alt="Image Description">
             </a>
         </div>
     </div>
 </div>
 <!-- End Cameras & Accessories - Mega Menu -->
</li>
<!-- End Cameras & Accessories -->