<header>
			<!-- TOP HEADER -->
			<div id="top-header">
					<ul class="header-links pull-left" style="padding-left:10px">
						<li><a href="#"><i class="fa fa-phone"></i> +91-9967937648</a></li>
						<li><a href="#"><i class="fa fa-envelope-o"></i> electro@gmail.com</a></li>
						<li><a href="#"><i class="fa fa-map-marker"></i> Kurla Mumbai</a></li>
					</ul>
					<ul class="header-links pull-right" style="padding-right:10px">
				
						<li><a href="login.html"><i class="fa fa-user-o"></i> My Account</a></li>
					</ul>
			</div>
			<!-- /TOP HEADER -->

			<!-- MAIN HEADER -->
			<div id="header">
					<!-- row -->
					<div class="row" style="padding-left:10px; margin-right: 5px">
						<!-- LOGO -->
						<div class="col-md-3">
							<div class="header-logo">
								<a href="#" class="logo">
									<img src="/img/logo.png" alt="">
								</a>
							</div>
						</div>
						<!-- /LOGO -->
					</div>
					<!-- row -->
			</div>
			<!-- /MAIN HEADER -->
		</header>
		<!-- /HEADER -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
<body style="background-color: #FFF;">
	
	<div class="limiter">
		<div class="container-login100" style="min-height: 80vh">
			<div class="wrap-login100"  style="min-height: 80vh">
				<form class="login100-form validate-form" style="min-height: 80vh;padding-top: 3vh; padding-bottom: 4vh">
					<span class="login100-form-title p-b-43" >
						Register
					</span>
					
					<div class="wrap-input100 validate-input" data-validate = "First name is required">
						<input class="input100" type="text" name="fname">
						<span class="focus-input100"></span>
						<span class="label-input100">First Name</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Last name is required">
						<input class="input100" type="text" name="lname">
						<span class="focus-input100"></span>
						<span class="label-input100">Last Name</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="email">
						<span class="focus-input100"></span>
						<span class="label-input100">Email</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Phone no. is required">
						<input class="input100" type="tel" name="phone">
						<span class="focus-input100"></span>
						<span class="label-input100">Phone No.</span>
					</div>					
					
					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="pass" >
						<span class="focus-input100"></span>
						<span class="label-input100">Password</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Password does not match">
						<input class="input100" type="password" name="pass">
						<span class="focus-input100"></span>
						<span class="label-input100">Confirm Password</span>
					</div>			

					<div class="container-login100-form-btn" style="padding-top: 3vh">
						<button class="login100-form-btn">
							Proceed
						</button>
					</div>

				</form>

				<div class="login100-more" style="background-image: url('/img/login.jpg');">
				</div>
			</div>
		</div>
	</div>
</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
	